/* ContributeSection.css */
.contribute-section {
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}

.contribute-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-card {
  margin: 0 20px;
  text-align: center;
}

.contact-card img {
  border-radius: 50%;
}

.social-links a {
  display: block;
  margin-top: 10px;
}

.idea-section {
  width: 50%;
}

.come-say-hi {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  margin: 0 20px;
}
