/* ContributeSection.css */

.contribute-section {
  padding: 50px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}

.contribute-title {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 36.3px;
}

.contribute-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section {
  width: 50%;
  text-align: center;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact-card {
  text-align: center;
}

.contact-card img.profile-pic {
  border-radius: 50%;
  border: 4px solid rgba(253, 224, 71, 1); /* Add yellow border to profile pictures only */
  width: 68px; /* Ensure consistent size */
  height: 68px; /* Ensure consistent size */
}

.contact-card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 0 10px; /* Ensure margin to the left */
}

.contact-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align the content to the start */
  margin-bottom: 10px;
  width: 100%;
}

.social-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black; /* Ensure link color is black */
}

.social-link img {
  margin-right: 15px;
  margin-left: 2px;
  margin-top:15px;
  border: none; /* Remove border from icons */
  width: 38px; /* Ensure consistent size */
  height: 38px; /* Ensure consistent size */
}

.social-link span {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-top:15px;
}

.come-say-hi {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
