/* ContributeSection.css */
.contribute-section {
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}

.title{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 36.3px;
}

.contribute-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section {
  width: 50%;
  text-align: center;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.contact-card {
  text-align: center;
}

.contact-card img {
  border-radius: 50%;
}

.social-links a {
  display: block;
  margin-top: 10px;
}

.idea-section {
  width: 50%;
}

.come-say-hi {
  font-family: 'Inter',sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
