.delete-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.delete-popup {
    background: white;
    width: 439px;
    height: 216px;
    border-radius: 10px;
    position: relative;
    /* text-align: left; */
    padding: 32px;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
  
.password-input-container-confirm {
    margin-top: 20px;
    position: relative;
    text-align: left;
    width: 439px;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
}
  
.password-input-container-confirm input {
    width: 100%;
    padding: 10px;
    width: 419px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;

}
  
.toggle-password-visibility {
    position: absolute;
    top:50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
  
.toggle-password-visibility img {
    margin-top: 30px;
    
    width: 20px;
    height: 20px;
}
  
.delete-popup-buttons {
    margin-top: 20px;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
    
    gap:24px;
}
  
.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.cancel-button {
    background: none;
    color: #6c757d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
  
.password-input {
    margin-top: 8px;
    width: 100%;
    height: 42px;
}

.delete-popup-content {
    width: 100%;
    height: 137px;
}
  
.delete-popup-header {
    position: relative;
    margin-bottom: 24px;
}

.delete-popup-header h2{
    margin:0;
    font-weight: 700;
    font-size: 20px;
}

.delete-popup-header p{
    margin:0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.password-input-container-confirm label {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.password-input-container-confirm input:focus {
    border: 1px solid #FACC15;
    outline: none;
}
