body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: auto; /* Enable scrolling for the entire page */
}

.models-container {
  top: 90px; /* Adjust this value based on the height of your navbar */
  padding: 20px;
  margin-left: 40px; /* Default left margin */
  transition: margin-left 0.3s;
  z-index: 0; /* Ensure models container is below the navbar */
  padding-top: 110px;
}

.models-container.expanded-navbar {
  margin-left: 180px; /* Expanded navbar width */
}

.expanded-navbar .models-container {
  margin-left: 40px; /* Adjusted left margin when navbar is expanded */
}

.models-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.models-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a grid with 2 columns */
  gap: 30px;

  width: 100%; /* Adjust width to 100% */
  max-width: 1396px; /* Optional: maximum width to maintain layout */
}

.model-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 686px;
  height: 139px;
  padding: 20px;
  box-sizing: border-box;
}
.model-card:hover{
  cursor: pointer;
}

.model-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.model-header h2 {
  font-size: 1.2em;
  margin: 0;
}

.model-type {
  background: #fde047;
  color: black;
  padding: 5px 10px;
  border-radius: 32px;
  font-size: 0.9em;
}

.model-details {
  display: flex;
  width: 638px;
  height: 43px;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.detail-item {
  align-items: center;
  
}

.status-icon {
  margin-right: 10px;
}

.green-circle {
  color: green;
}

.yellow-circle {
  color: #FACC15;
}

.model-details p strong {
  color: #000;
}

.model-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.details-title {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #9CA3AF;
}

.details-info {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.details-info-2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-top: 12px;
}

.red-circle {
  color: #FACC15;
}
