.header-container {
  display: flex;
  align-items: center;
  padding: 40px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 88px;
  height: 80px;
  margin-right: 10px;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 24px;
  margin-left: 166px;
  font-weight: 500;
}
