.login-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #fff;
  }
  
  .login-form {
    padding: 40px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  