.features-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}


.features-title{
  display: flex;
  justify-content: center;
}
.features-title h3{
  font-size: 30px;
  color: black;
  font-weight: 700;
  justify-content: space-around;
}

.feature-box {
  width: 300px;
  height: 250px;
  text-align: center;
  padding: 32px 48px;
  background: #fff;
  box-shadow: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  transition: all 0.3s ease;
}

.feature-box:hover {
  width: 330px;
  height: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-title {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  transition: font-size 0.3s ease;
}

.feature-box:hover .feature-title {
  font-size: 24px;
}

.feature-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  font-weight: 400;
  transition: font-size 0.3s ease;
}

.feature-box:hover .feature-description {
  font-size: 19px;
}

.feature-icon {
  width: 58px;
  height: 58px;
  transition: all 0.3s ease;
}

.feature-box:hover .feature-icon {
  width: 60px;
  height: 60px;
}
