.header-container {
  display: flex;
  align-items: center;
  padding: 40px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 88px;
  height: 80px;
  margin-right: 10px;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  font-family: 'Inter',sans-serif;
  display: flex;
  gap: 35px;
  font-size: 20px;
  margin-left: 950px;
  font-weight: 500;
}
