.image-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 120px;
  background:transparent ;
}

.image-text-content {
  width: 687px;
}

.image-h1 {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
}

.image-h3 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.image-h4 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.image-p {
  font-size: 16px;
}

.image-start-button {
  display: inline-flex; /* Change to inline-flex for better alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(253, 224, 71, 1);
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  width: 360px;
  height: 52px;
  text-align: center;
  text-decoration: none; /* Ensure no underline */
}

.image-image {
  width: 686px;
  height: auto;
  border-radius: 10px;
}

