.image-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background:transparent ;
  margin-left: 50px;
  margin-right: 70px;
}

.image-text-content {
  max-width: 35%;
  margin-left: 120px;
}

.image-h1 {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
}

.image-h3 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
  font-weight: 700;
}
.image-h4 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.image-p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.image-start-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:rgba(253, 224, 71, 1);
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.image-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background:transparent ;
}

.image-image {
  width: 686px;
  height: auto;
  border-radius: 10px;
  margin-right: 100px;
}

