.login-form, .sign-up-form {
    width: 100%;
    max-width: 542px;
    padding: 40px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
  }
  
  .login-title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
  }
  
  .input-group {
    position: relative;
    width: 100%;
  }
  
  .input-label {
    font-family: 'Inter', sans-serif;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .eye-icon {
    width: 20px;
    height: 18px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  
  .remember-me-warning {
    font-size: 12px;
    color: gray;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  .login-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .login-footer p {
    margin: 5px 0;
    font-size: 14px;
    color: black;
    text-align: center;
  }
  
  .reset-password, .register, .login-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .reset-password:hover, .register:hover, .login-link:hover {
    text-decoration: underline;
  }
  