.text-section-intitle {
    display: flex;
    flex-direction: column;
  }
  
  .title-intitle {
    font-family: 'Inter', sans-serif;
    font-size: 104px;
    font-weight: 800;
    line-height: 125.86px;
    text-align: left;
    color: black;
  }
  
  .title-second-line-intitle {
    display: block;
  }
  
  .subtitle-intitle {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 48.41px;
    text-align: left;
    color: black;
    margin:0;
    padding:0;
  }
  