.App {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1920px;
}

.content-container {
  position: relative;
  z-index: 2;
}
