.App {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1920px;
}

.content-container {
  position: relative;
  z-index: 2;
}

/* .background-image {
  position: absolute;
  width: 988px;
  height: 898px;
  top: 650px;
  left: -405px;
  z-index: -1;
  opacity: 0.2; 
  pointer-events: none; 
} */

